@font-face{
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat/Montserrat-Regular.otf')
}

@font-face{
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/montserrat/Montserrat-SemiBold.otf')
}

@font-face{
    font-family: 'Montserrat-Medium';
    src: url('../fonts/montserrat/Montserrat-Medium.otf')
}

@font-face{
    font-family: 'Copperplate Light';
    src: url('../fonts/copperplate/OPTICopperplate-Light.otf')
}

body{
    margin: 0;
}

button{
    cursor: pointer;
}

.hide{
    display: none;
}

.container{
    width: 100%;
    display: flex;
    background-color: #F0F0F0;
    height: 100VH;
}

.sidebar{
    width: 17%;
    background-color: white;
    box-shadow: 5px 0px 5px #F0F0F0;
    display: flex;
    flex-direction: column;
}

.main{
    width: 83%;
}

.logo{
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 20px;
    color: #502274;
    margin: 30px auto auto;
    display: block;
    width: fit-content;
    text-decoration: none;
}

.links{
    margin-bottom: auto;
}

.links .link,.logout__link{
    width: 100%;
    color: #502274;
    height: 60px;
    font-size: 14px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    padding-left: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.links .link.active{
    background-color: #502274;
    color: white;
}

.links .link img,.logout__link img{
    margin-right: 10px
}

.logout__link{
    text-decoration: none;
}

.top{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 70px;
    background-color: rgba(80, 34, 116, 0.06);
}

.back{
    font-family: 'Montserrat-Medium', sans-serif;
    display: flex;
    height: 65px;
    align-items: center;
    font-size: 16px;
    color: #4A4A4A;
}

.back a{
    margin-left: 5px;
    text-decoration: none;
    color: #4A4A4A;
}

.rates{
    width: 280px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.rates td{
    margin-bottom: 5px;
}

.rates td img{
    vertical-align: middle;
    margin-right: 2px
}

.rates tr:nth-of-type(n + 2) td:nth-of-type(n + 2){
    font-weight: 1000
}

.user-controls{
    display: flex;
    align-items: center;
    margin-right: 50px
}

.user{
    margin: 0 30px;
}

.logout{
    border: 1px solid #502274;
    border-radius: 5px;
    color: #502274;
    font-family: 'Montserrat-SemiBold', sans-serif;
    height: 30px;
    display: inline-flex;
    align-items: center;
    width: 85px;
    justify-content: center;
    background-color: transparent;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 0px;
    padding: 20px 50px 0;
    box-sizing: border-box;
    margin: auto;
}

.card{
    width: 380px;
    border-radius: 9px;
    box-shadow: 5px 15px 16px rgba(0, 0, 0, 0.16);
    height: 230px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 35px 35px 40px 30px;
    box-sizing: border-box;
    margin: auto;
    color: white;
    font-family: 'Copperplate Light';
}

.card.black{
    background-color: #000000;
}

.card.light-green{
    background-color: #8EC5AC
}

.card.blue{
    background-color: #3C52DD
}

.card.dark-green{
    background-color: #23B173;
}

.card__brands{
    display: flex;
    justify-content: space-between;
}

.card__brands img:last-of-type{
    width: 44px;
}

.card__numbers{
    margin: 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.card__numbers span{
    font-size: 16px;
}

.card__details{
    display: flex;
    justify-content: space-between;
}

.card__details div{
    display: flex;
    flex-direction: column;
}

.card__details div p{
    margin: 0;
}

.card__details div p:first-of-type{
    font-size: 8px;
    color: #9b9b9b
}

.card__details div p:last-of-type{
    font-size: 14px;
}