@font-face{
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat/Montserrat-Regular.otf')
}

@font-face{
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/montserrat/Montserrat-SemiBold.otf')
}

@font-face{
    font-family: 'Montserrat-Medium';
    src: url('../fonts/montserrat/Montserrat-Medium.otf')
}

@font-face{
    font-family: 'Rubik Medium';
    src: url('../fonts/Rubik/Rubik-Medium.ttf')
}

@font-face{
    font-family: 'Rubik Regular';
    src: url('../fonts/Rubik/Rubik-Regular.ttf')
}

body{
    margin: 0;
    background-color: #F0F0F0;
}

button{
    cursor: pointer;
}

.container{
    width: 100%;
    display: flex;
    background-color: #F0F0F0;
    min-height: 100vh;
    overflow-x: hidden;
}

.sidebar{
    width: 17%;
    background-color: white;
    box-shadow: 5px 0px 5px #F0F0F0;
    display: flex;
    flex-direction: column;
    position: fixed;
    min-height: 100%;
}

.sidenav__container{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.sidebar.sidenav{
    width: 0%;
    position: absolute;
    transition: 400ms;
    display: flex;
    overflow: hidden;
}

.sidenav-close{
    position: absolute;
    height: 32px;
    width: 32px;
    right: 10px;
    top: 25px;
    background: transparent;
    border: none;
    outline: none;
}

.main{
    width: 83%;
    margin-left: 17%;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.logo{
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 20px;
    color: #502274;
    margin: 30px auto 20px;
    display: block;
    width: fit-content;
    text-decoration: none;
}

.links{
    margin-bottom: auto;
    margin-top: 30px;
}

.links .link,.logout__link{
    width: 100%;
    color: #502274;
    height: 60px;
    font-size: 14px;
    font-family: 'Montserrat-Medium', sans-serif;
    padding-left: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

.links .link a{
    color: #502274;
    text-decoration: none
}

.links .link.active{
    background-color: #502274;
    color: white;
}

.links .link.active a,.links .link:hover a{
    color: white;
}

.links .link svg,.logout__link img{
    margin-right: 10px
}

.links .link:hover{
    background-color: #502274;
    color: white;
}

.links .link svg{
    fill: #502274;
    transition: 0.3s ease;
}

.links .link.active svg,.links .link:hover svg{
    fill: #fff;
}

.links .link.active{
    background-color: #502274;
    color: white;
}

.links .link img,.logout__link img{
    margin-right: 10px
}

.logout__link{
    text-decoration: none;
}

.top{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 70px;
    background-color: #DDDBF1;
    width: 100%;
    box-sizing: border-box;
}

.sidenav-btn{
    height: 100%;
    border: none;
    background-color: transparent;
    width: 38px;
    outline: none;
    display: none;
    border-radius: 3px;
    display: none;
}

.bar{
    height: 3px;
    border-radius: 1px;
}

.bar-left{
    transform: rotate(45deg) translateY(0.2rem);
}

.bar-right{
    transform: rotate(-45deg) translateY(-0.2rem);
}

.sidenav-btn .bar{
    width: 100%;
    background-color: #502274;
}

.sidenav-btn .bar:not(:last-child){
    margin-bottom: 5px;
}

.back{
    font-family: 'Montserrat-Medium', sans-serif;
    display: flex;
    height: 65px;
    align-items: center;
    font-size: 16px;
    color: #4A4A4A;
}

.back a{
    margin-left: 5px;
    text-decoration: none;
    color: #4A4A4A;
}

.rates{
    width: 280px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.rates td{
    margin-bottom: 5px;
    min-width: 100px;
    font-size: 10px;
}

.rates.bottom{
    display: none;
}

.rates td img{
    vertical-align: middle;
    margin-right: 2px
}

.rates tr:nth-of-type(n + 2) td:nth-of-type(n + 2){
    font-weight: 1000;
    font-size: 10px;
    font-family: 'Montserrat-Semibold'
}

.user-controls{
    display: flex;
    align-items: center;
    margin-right: 50px
}

.user{
    margin: 0 30px;
}

.logout{
    border: 1px solid #502274;
    border-radius: 5px;
    color: #502274;
    font-family: 'Montserrat-SemiBold', sans-serif;
    height: 30px;
    display: inline-flex;
    align-items: center;
    width: 85px;
    justify-content: center;
    background-color: transparent;
}

.body{
    padding-top: 50px;
    box-sizing: border-box
}

.card-rules{
    width: 620px;
    margin: auto;
    font-family: 'montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 22px
}

.card-rules a{
    color:#6C63FF;
}

.card-rules{
    font-family: 'Montserrat-Semibold';
    font-size: 18px;
}

.add-card{
    color: #9B9B9B;
    margin: 50px auto 0px;
    text-align: center;
    width: 200px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 15px;
}

.add-card-btn{
    margin: 50px auto 45px;
    display: flex;
    /* height: 60px; */
    /* width: 60px; */
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    /* border-radius: 50%; */
    outline: none;
}

.add-card-text{
    font-size: 20px;
    font-family: 'Montserrat-Regular', sans-serif;
    width: 108px;
    margin: 0 auto 100px;
}

.card-brands{
    width: 230px;
    display: flex;
    justify-content: space-between;
    margin: auto
}

form{
    padding-left: 50px;
    font-family: 'Montserrat-Medium', sans-serif
}

form .card-rules{
    margin: 0 0 35px;
    text-align: left;
}

.form-group{
    margin-bottom: 35px;
}

.form-group *{
    display: block;
}

.form-group label{
    font-size: 12px;
    font-family: 'Montserrat-Regular';
    margin-bottom: 5px;
}

.form-group .required-star{
    display: inline-block;
    font-size: 17px;
    color: #FF0000;
    margin-left: 3px;
}

.form-group input{
    width: 450px;
    height: 40px;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    padding-left: 10px;
    font-family: 'Montserrat-Regular', sans-serif
}

.form-group input::placeholder{
    font-size: 8px;
    font-family: 'Montserrat-Medium', sans-serif;
}

.form-group.inline{
    display: inline-block;
    margin-right: 45px;
}

.form-group.inline input{
    width: 200px;
}

.disclaimer{
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 10px;
    color: #9B9B9B;
    margin-bottom: 20px;
}

form button{ 
    width: 160px;
    height: 40px;
    align-items: center;
    text-align: center;
    background-color: #502274;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'Rubik Medium', sans-serif;
    color: white;
    outline: none;
    display: block;
}

.success-background{
    width: 83%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}

.success{
    font-family: 'Montserrat-SemiBold',sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    width: 0;
    height: 0;
    transition: 500ms;
    position: relative;
}

.success *{
    opacity: 0;
    transition: 500ms;
}

.close-modal{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    opacity: 0;
    transition: 300ms;
}

.success img{
    margin-top: 60px;
}

.close-modal img{
    margin-top: 0;
}

.success.active{
    width: 560px;
    height: 415px;
}

.success.show *{
    opacity: 1;
}

.hide{
    display: none;
}

@media(max-width: 965px){
    .sidebar{
        width: 24%;
    }
    .main{
        width: 76%;
        margin-left: 24%;
    }
    .card-rules{
        width: 90%;
    }
    .success-background{
        width: 76%;
    }
    .logout{
        display: none;
    }
    .user-controls{
        margin-right: 0px;
    }
}

@media(max-width: 800px){
    .sidebar{
        width: 30%;
    }
    .main{
        width: 70%;
        margin-left: 30%;
        padding-bottom: 0;
    }
    .success-background{
        width: 70%;
    }
    .success.active{
        width: 80%;
    }
    .links .link, .logout__link{
        padding-left: 20%;
    }
    .rates.top{
        display: none;
    }
    .rates.bottom{
        display: flex;
        justify-content: center;
        margin-top: auto;
        background-color: rgba(221, 219, 241, 0.8);
        width: 100%;
        padding: 10px 5px;
    }
    .rates td{
        min-width: 100px;
    }
    .sidebar{
        box-shadow: none;
    }
    form{
        margin-bottom: 20px;
    }
}

@media(max-width: 750px){
    .body{
        padding-top: 20px;
    }
    form .card-rules{
        margin-bottom: 30px;
    }
    form{
        padding-left: 30px;
    }
    .form-group input{
        width: 90%;
    }
    .form-group.inline{
        width: 44%;
        margin-right: 0;
    }
    .form-group.inline input{
        width: 100%;
    }
}

@media(max-width: 600px){
    .success-background{
        width: 100%;
    }
    .sidebar.sidenav.active{
        width: 50%;
        box-shadow: 0 0 40px rgba(0,0,0,0.5);
    }
    .sidenav__container.active{
        display: block;
    }
    .top{
        position: fixed;
    }
    .sidebar{
        display: none;
    }
    .main{
        width: 100%;
        margin: 0;
    }
    .sidenav-btn{
        display: inline-block;
    }
    .top .back{
        display: none;
    }
    .user-controls{
        margin-right: 0;
    }
    .logo{
        margin-left: 15%;
    }
    .links .link, .logout__link{
        padding-left: 15%
    }
    .body{
        margin-top: 70px;
    }
}

@media(max-width: 450px){
    .sidebar.sidenav.active{
        width: 70%;
    }
    .success.active{
        width: 90%;
        padding: 50px 10px;
    }
    .success.active p{
        text-align: center;
    }
}@font-face{
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat/Montserrat-Regular.otf')
}

@font-face{
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/montserrat/Montserrat-SemiBold.otf')
}

@font-face{
    font-family: 'Montserrat-Medium';
    src: url('../fonts/montserrat/Montserrat-Medium.otf')
}

body{
    margin: 0;
    background-color: #F0F0F0;
}

button{
    cursor: pointer;
}

.container{
    width: 100%;
    display: flex;
    background-color: #F0F0F0;
    min-height: 100vh;
    overflow-x: hidden;
}

.sidebar{
    width: 17%;
    background-color: white;
    box-shadow: 5px 0px 5px #F0F0F0;
    display: flex;
    flex-direction: column;
    position: fixed;
    min-height: 100%;
}

.sidenav__container{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.sidebar.sidenav{
    width: 0%;
    position: absolute;
    transition: 400ms;
    display: flex;
    overflow: hidden;
}

.sidenav-close{
    position: absolute;
    height: 32px;
    width: 32px;
    right: 10px;
    top: 25px;
    background: transparent;
    border: none;
    outline: none;
}

.main{
    width: 83%;
    margin-left: 17%;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.logo{
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 20px;
    color: #502274;
    margin: 30px auto 20px;
    display: block;
    width: fit-content;
    text-decoration: none;
}

.links{
    margin-bottom: auto;
    margin-top: 30px;
}

.links .link,.logout__link{
    width: 100%;
    color: #502274;
    height: 60px;
    font-size: 14px;
    font-family: 'Montserrat-Medium', sans-serif;
    padding-left: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

.links .link a{
    color: #502274;
    text-decoration: none
}

.links .link.active{
    background-color: #502274;
    color: white;
}

.links .link.active a,.links .link:hover a{
    color: white;
}

.links .link svg,.logout__link img{
    margin-right: 10px
}

.links .link:hover{
    background-color: #502274;
    color: white;
}

.links .link svg{
    fill: #502274;
    transition: 0.3s ease;
}

.links .link.active svg,.links .link:hover svg{
    fill: #fff;
}

.links .link.active{
    background-color: #502274;
    color: white;
}

.links .link img,.logout__link img{
    margin-right: 10px
}

.logout__link{
    text-decoration: none;
}

.top{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 70px;
    background-color: #DDDBF1;
    width: 100%;
    box-sizing: border-box;
}

.sidenav-btn{
    height: 100%;
    border: none;
    background-color: transparent;
    width: 38px;
    outline: none;
    display: none;
    border-radius: 3px;
    display: none;
}

.bar{
    height: 3px;
    border-radius: 1px;
}

.bar-left{
    transform: rotate(45deg) translateY(0.2rem);
}

.bar-right{
    transform: rotate(-45deg) translateY(-0.2rem);
}

.sidenav-btn .bar{
    width: 100%;
    background-color: #502274;
}

.sidenav-btn .bar:not(:last-child){
    margin-bottom: 5px;
}

.back{
    font-family: 'Montserrat-Medium', sans-serif;
    display: flex;
    height: 65px;
    align-items: center;
    font-size: 16px;
    color: #4A4A4A;
}

.back a{
    margin-left: 5px;
    text-decoration: none;
    color: #4A4A4A;
}

.rates{
    width: 280px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.rates td{
    margin-bottom: 5px;
    min-width: 100px;
    font-size: 10px;
}

.rates.bottom{
    display: none;
}

.rates td img{
    vertical-align: middle;
    margin-right: 2px
}

.rates tr:nth-of-type(n + 2) td:nth-of-type(n + 2){
    font-weight: 1000;
    font-size: 10px;
}

.user-controls{
    display: flex;
    align-items: center;
    margin-right: 50px
}

.user{
    margin: 0 30px;
}

.logout{
    border: 1px solid #502274;
    border-radius: 5px;
    color: #502274;
    font-family: 'Montserrat-SemiBold', sans-serif;
    height: 30px;
    display: inline-flex;
    align-items: center;
    width: 85px;
    justify-content: center;
    background-color: transparent;
}

.body{
    padding-top: 50px;
    box-sizing: border-box
}

.card-rules{
    width: 620px;
    margin: auto;
    font-family: 'montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 22px
}

.card-rules a{
    color:#6C63FF;
}

.add-card{
    color: #9B9B9B;
    margin: 50px auto 0px;
    text-align: center;
    width: 200px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 15px;
}

.add-card-btn{
    margin: 50px auto 45px;
    display: flex;
    /* height: 60px; */
    /* width: 60px; */
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    /* border-radius: 50%; */
    outline: none;
}

.add-card-text{
    font-size: 20px;
    font-family: 'Montserrat-Regular', sans-serif;
    width: 108px;
    margin: 0 auto 7%;
}

.card-brands{
    width: 230px;
    display: flex;
    justify-content: space-between;
    margin: auto
}

.form-group *{
    display: block;
}

.form-group small{
    font-size: 8px;
    font-family: 'Montserrat-Regular';
    color: #9B9B9B;
    margin-top: 5px;
}

.disclaimer{
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 10px;
    color: #9B9B9B;
    margin: 0 0 20px;
}

.success-background{
    width: 83%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}

.success{
    font-family: 'Montserrat-SemiBold',sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    width: 0;
    height: 0;
    transition: 500ms;
}

.success *{
    opacity: 0;
    transition: 500ms;
}

.success.active{
    width: 560px;
    height: 415px;
}

.success.show *{
    opacity: 1;
}

.hide{
    display: none;
}

@media(max-width: 965px){
    .sidebar{
        width: 24%;
    }
    .main{
        width: 76%;
        margin-left: 24%;
    }
    .card-rules{
        width: 90%;
    }
    .success-background{
        width: 76%;
    }
    .logout{
        display: none;
    }
    .user-controls{
        margin-right: 0px;
    }
}

@media(max-width: 800px){
    .sidebar{
        width: 30%;
    }
    .main{
        width: 70%;
        margin-left: 30%;
        padding-bottom: 0;
    }
    .success-background{
        width: 70%;
    }
    .success.active{
        width: 80%;
    }
    .links .link, .logout__link{
        padding-left: 20%;
    }
    .rates.top{
        display: none;
    }
    .rates.bottom{
        display: flex;
        justify-content: center;
        margin-top: auto;
        background-color: rgba(221, 219, 241, 0.8);
        width: 100%;
        padding: 10px 5px;
    }
    .rates td{
        min-width: 100px;
    }
    .sidebar{
        box-shadow: none;
    }
    form{
        margin-bottom: 20px;
    }
}

@media(max-width: 750px){
    .body{
        padding-top: 20px;
    }
    form .card-rules{
        margin-bottom: 30px;
    }
    form{
        padding-left: 30px;
    }
    .form-group input{
        width: 90%;
    }
    .form-group.inline{
        width: 44%;
        margin-right: 0;
    }
    .form-group.inline input{
        width: 100%;
    }
}

@media(max-width: 600px){
    .success-background{
        width: 100%;
    }
    .sidebar.sidenav.active{
        width: 50%;
        box-shadow: 0 0 40px rgba(0,0,0,0.5);
    }
    .sidenav__container.active{
        display: block;
    }
    .top{
        position: fixed;
    }
    .sidebar{
        display: none;
    }
    .main{
        width: 100%;
        margin: 0;
    }
    .sidenav-btn{
        display: inline-block;
    }
    .top .back{
        display: none;
    }
    .user-controls{
        margin-right: 0;
    }
    .logo{
        margin-left: 15%;
    }
    .links .link, .logout__link{
        padding-left: 15%
    }
    .body{
        margin-top: 70px;
    }
}

@media(max-width: 450px){
    .sidebar.sidenav.active{
        width: 70%;
    }
    .success.active{
        width: 90%;
        padding: 50px 10px;
    }
    .success.active p{
        text-align: center;
    }
}