@font-face{
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat/Montserrat-Regular.otf')
}

@font-face{
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/montserrat/Montserrat-SemiBold.otf')
}

@font-face{
    font-family: 'Montserrat-Bold';
    src: url('../fonts/montserrat/Montserrat-Bold.otf')
}


@font-face{
    font-family: 'Montserrat-Medium';
    src: url('../fonts/montserrat/Montserrat-Medium.otf')
}

@font-face{
    font-family: 'Copperplate Light';
    src: url('../fonts/copperplate/OPTICopperplate-Light.otf')
}

body{
    margin: 0;
    background-color: #F0F0F0
}

button{
    cursor: pointer;
}

.hide{
    display: none;
}

.container{
    width: 100%;
    display: flex;
    background-color: #F0F0F0;
    min-height: 100vh;
}

.sidebar{
    width: 17%;
    background-color: white;
    box-shadow: 5px 0px 5px #F0F0F0;
    display: flex;
    flex-direction: column;
    position: fixed;
    min-height: 100%;
}

.sidenav__container{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.sidebar.sidenav{
    width: 0%;
    position: absolute;
    transition: 400ms;
    display: flex;
    overflow: hidden;
}

.sidenav-close{
    position: absolute;
    height: 32px;
    width: 32px;
    right: 10px;
    top: 25px;
    background: transparent;
    border: none;
    outline: none;
}

.main{
    width: 83%;
    margin-left: 17%;
    padding-bottom: 20px;
    box-sizing: border-box
}

.logo{
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 20px;
    color: #502274;
    margin: 30px auto 20px;
    display: block;
    width: fit-content;
    text-decoration: none;
}

.links{
    margin-bottom: auto;
    margin-top: 30px;
}

.links .link,.logout__link{
    width: 100%;
    color: #502274;
    height: 60px;
    font-size: 14px;
    font-family: 'Montserrat-Medium', sans-serif;
    padding-left: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

.links .link a{
    color: #502274;
    text-decoration: none
}

.links .link.active{
    background-color: #502274;
    color: white;
}

.links .link.active a,.links .link:hover a{
    color: white;
}

.links .link svg,.logout__link img{
    margin-right: 10px
}

.links .link:hover{
    background-color: #502274;
    color: white;
}

.links .link svg{
    fill: #502274;
    transition: 0.3s ease;
}

.links .link.active svg,.links .link:hover svg{
    fill: #fff;
}

.links .link.active{
    background-color: #502274;
    color: white;
}

.links .link img,.logout__link img{
    margin-right: 10px
}

.logout__link{
    text-decoration: none;
}

.top{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 70px;
    background-color: #DDDBF1;
    width: 100%;
    box-sizing: border-box;
}

.sidenav-btn{
    height: 100%;
    border: none;
    background-color: transparent;
    width: 38px;
    outline: none;
    display: none;
    border-radius: 3px;
    display: none;
}

.bar{
    height: 3px;
    border-radius: 1px;
}

.bar-left{
    transform: rotate(45deg) translateY(0.2rem);
}

.bar-right{
    transform: rotate(-45deg) translateY(-0.2rem);
}

.sidenav-btn .bar{
    width: 100%;
    background-color: #502274;
}

.sidenav-btn .bar:not(:last-child){
    margin-bottom: 5px;
}

.back{
    font-family: 'Montserrat-Medium', sans-serif;
    display: flex;
    height: 65px;
    align-items: center;
    font-size: 16px;
    color: #4A4A4A;
}

.back a{
    margin-left: 5px;
    text-decoration: none;
    color: #4A4A4A;
}

.rates{
    width: 280px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.rates.bottom{
    display: none;
}

.rates td{
    margin-bottom: 5px;
    min-width: 100px;
    font-size: 10px;
}

.rates td img{
    vertical-align: middle;
    margin-right: 2px;
}

.rates tr:nth-of-type(n + 2) td:nth-of-type(n + 2){
    font-weight: 1000;
    font-size: 10px;
}

.user-controls{
    display: flex;
    align-items: center;
    margin-right: 50px
}

.user{
    margin: 0 30px;
}

.logout{
    border: 1px solid #502274;
    border-radius: 5px;
    color: #502274;
    font-family: 'Montserrat-SemiBold', sans-serif;
    height: 30px;
    display: inline-flex;
    align-items: center;
    width: 85px;
    justify-content: center;
    background-color: transparent;
}

.content{
    height: calc(100% - 70px);
    padding: 30px 50px;
    box-sizing: border-box;
}

.cards{
    height: 148px;
    width: 100%;
    display: flex;
    font-family: 'Montserrat-Regular', sans-serif;
}

.cards .header{
    font-size: 14px;
    margin: 11px 20px;
}

.cards .bold{
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    margin: 15px 20px;
}

.cards .light{
    font-size: 10px;
}

.total-amount{
    width: 248px;
    border-radius: 3px;
    background-color: white;
    margin-right: 14px;
    border: 1px solid #EAEAEA;
}

.materials-withdrawn{
    width: 290px;
    border-radius: 3px;
    background-color: white;
    margin-right: 14px;
    border: 1px solid #EAEAEA;
}

.materials-left{
    width: 290px;
    border-radius: 3px;
    background-color: white;
    margin-right: 14px;
    border: 1px solid #EAEAEA;
}

.add-plan{
    width: 185px;
    border-radius: 3px;
    background-color: #502274;
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: white;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.add-plan p{
    width: 90%;
}

.add-plan button{
    background-color: transparent;
    border: none;
}

.cards div span.line-h{
    height: 1px;
    background-color: #EAEAEA;
    display: block;
    width: 100%;
}

.cards div.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 17px 20px;
    height: 80px;
}

.cards div.grid .light{
    margin-bottom: 10px;
    margin-top: 0;
}

.cards div.grid div:first-of-type{
    border-right: 1px solid #EAEAEA;
}

.cards div.grid .bold{
    margin: 0;
}

.cards div.grid div:last-of-type{
    text-align: right;
}

.materials-withdrawn .bold{
    color: #B21F1E;
}

.materials-left .bold{
    color: #008000;
}

.download-pdf{
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 14px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #EAEAEA;
}

.download-pdf span{
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 12px;
}

.download-pdf span .line{
    width: 30px;
    height: 4px;
    background-color: #502274;
    display: inline-block;
    position: absolute;
    margin-top: 5px;
}

.download-pdf button{
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #502274;
    color: #502274;
    width: 135px;
    height: 25px;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
}

.transactions{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    margin-top: 14px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    box-sizing: border-box;
}

.transactions__header{
    color: black;
}

.transactions__header__small{
    display: none;
    text-align: center
}

.transaction,.transactions__header{
    height: 44px;
    display: grid;
    grid-template-columns: 0.7fr repeat(4,1fr)
}

.transaction p,.transactions__header p{
    padding-left: 20px;
    box-sizing: border-box
}

.transaction p span.label{
    display: none;
    color: black;
    margin-right: 20px;
}

.transaction p span.br{
    display: block;
}

.transaction.deposit{
    color: #008000;
}

.transactions__header p:not(:nth-of-type(1)){
    text-align: center
}

.transaction p:not(:nth-of-type(1)){
    text-align: center
}

.transaction.withdraw{
    color: #B21F1E;
}

.transaction:nth-of-type(2n){
    background-color: rgba(216, 216, 216, 0.29)
}

@media(max-width: 1050px){
    .cards{
        height: unset
    }
    .cards div.grid{
        grid-template-columns: 1fr;
        height: unset;
    }
    .cards div.grid div:first-of-type{
        border: none;
        border-bottom: 1px solid #EAEAEA;
        text-align: center;
        padding-bottom: 10px;
    }
    .cards div.grid div:last-of-type{
        text-align: center;
        margin-top: 10px
    }
    .cards .header,.cards .bold{
        text-align: center;
    }
    .logout{
        display: none;
    }
    .user-controls{
        margin-right: 0px;
    }
}

@media(max-width: 965px){
    .sidebar{
        width: 24%;
    }
    .main{
        width: 76%;
        margin-left: 24%;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
    }
    .total-amount,.materials-withdrawn,.materials-left,.add-plan{
        margin: 0 auto;
        width: 248px;
    }
    .content{
        padding: 30px 20px;
        padding-bottom: 0;
    }
    .transactions{
        display: grid;
        grid-template-rows: 1fr;
    }
    .transaction, .transactions__header{
        height: unset;
    }
}

@media(max-width: 800px){
    .sidebar{
        width: 30%;
    }
    .main{
        width: 70%;
        margin-left: 30%;
        padding-bottom: 0;
    }
    .links .link, .logout__link{
        padding-left: 20%;
    }
    .rates.top{
        display: none;
    }
    .rates.bottom{
        display: flex;
        justify-content: center;
        background-color: rgba(221, 219, 241, 0.8);
        width: 100%;
        padding: 10px 5px;
        box-sizing: border-box;
    }   
    .sidebar{
        box-shadow: none;
    }
    .transactions{
        padding: 0;
        padding-bottom: 10px;
    }
    .transactions__header{
        display: none;
    }
    .transaction{
        display: block;
    }
    .transaction p:not(:nth-of-type(1)){
        text-align: left
    }
    .transaction p span.label{
        display: inline-block;
    }
    .transaction p{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-right: 5px;
    }   
    .transactions__header__small{
        display: block;
    }
}

@media(max-width: 775px){
    .cards{
        grid-template-columns: 1fr;
    }
    .add-plan{
        min-height: 220px;
    }
}

@media(max-width: 600px){
    .sidebar.sidenav.active{
        width: 50%;
        box-shadow: 0 0 40px rgba(0,0,0,0.5);
    }
    .sidenav__container.active{
        display: block;
    }    
    .top{
        position: fixed;
    }
    .sidebar{
        display: none;
    }
    .main{
        width: 100%;
        margin: 0;
    }
    .sidenav-btn{
        display: inline-block;
    }
    .top .back{
        display: none;
    }
    .user-controls{
        margin-right: 0;
    }
    .logo{
        margin-left: 15%;
    }
    .links .link, .logout__link{
        padding-left: 15%
    }
    .content{
        margin-top: 70px;
    }
}

@media(max-width: 450px){
    .sidebar.sidenav.active{
        width: 70%;
    }
    .content{
        padding: 30px 0 0;
    }
}