@font-face{
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/montserrat/Montserrat-SemiBold.otf');
}


@font-face{
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat/Montserrat-Regular.otf');
}


html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f0f0;
}

.container{
    padding: 2rem;
    height: 100vh;
    overflow-y: hidden;
}

header{
    width: 100%;
    padding: 1rem;
}

.Lead-Heading{
    font-size: 1.8rem;
    font-family: 'Montserrat-SemiBold';
}

.Lead-Heading a{
    color: #1B1F3B;
    text-decoration: none;
}

main{
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-between;
}

img{
    flex-basis: 50%;
}

.Verification-form{
    flex-basis: 50%;
    margin-left: 8rem;
    /* transform: t */
}



.form-heading{
    font-family: 'Montserrat-SemiBold';
    color: #1B1F3B;
    font-size: 1.8rem;
    margin-top: 5rem;
    margin-bottom: 9rem;
    width: 100%;
    /* letter-spacing: 1.41px; */

}

.form-body{
    width: 75%;
}


.Lead-text{
    font-size: 1.2rem;
    font-family: 'Montserrat-Regular';
    color: #1B1F3B;
    margin-bottom: 0.9rem;
}

.Verification-input{
    width: 100%;
    padding: 0.8rem 0.7rem;
    border: 1px solid #9B9B9B;
    border-radius: 3px;
    outline: none  !important;
    font-size: 1.1rem;
    color: #1B1F3B;
    margin-bottom: 6rem;
    font-family: 'Montserrat-Regular';
}

.Verification-submit{
    width: 100%;
    color: #fff;
    padding: 1rem;
    background-color: #502274;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat-SemiBold';
    margin-bottom: 1.2rem;
}

.Verification-failed{
    text-align: center;
    font-size: 1rem;
    font-family: 'Montserrat-Regular';
    color: #1B1F3B;

}

.call a{
    text-decoration: none;
    color: #6C63FF;
}

.footer-paragraph{
    margin-top: 17rem;
    width: 80%;
    text-align: center;
    /* background-color: pink; */
    font-size: 1.1rem;
    font-family: 'Montserrat-Regular'; 
    letter-spacing: 1.6px;
}

img.success-image{
    position: absolute;
    height: 70%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    visibility: hidden;
    /* opacity: 0; */
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #9B9B9B;
    /* opacity: 0.5; */
    z-index: 2;
    visibility: hidden;
}

a.hoverme{
    transition: all 0.3s ease;
}

a.hoverme:hover{
    border-bottom: 1px solid #6C63FF;
}


/* Animation Classes and animations */
.backgroundBlend{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.show-success{
    animation-name: slideDown;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes fadeIn{
    from {
        visibility: hidden;
        opacity: 0;
    }

    to{
        visibility: visible;
        opacity: 0.5;
    }
}

@keyframes slideDown{
    from {
        visibility: visible;
        transform: translate(-50%, -100%);
    }
    to {
        visibility: visible;
        transform: translate(-50%, -50%);
    }
}

/* @keyframes growOut{

} */

@media(max-width: 1200px){
    .container{
        padding: 2rem;
        height: 100vh;
        overflow: hidden;
    }

    main{
        padding: 6rem 1rem;
    }

    .Lead-text{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .Verification-form{
        flex-basis: 70%;
        
    }

    img{
        /* flex-basis: 20%; */
        width: 40%;
    }

    .form-body{
        width: 100%;
    }

    .footer-paragraph{
        position: absolute;
        bottom: 3rem;
        width: 100%;
        right: 0;
    }

    .Verification-failed{
        font-size: 1.2rem;
    }
}


@media(max-width: 1000px){
    .container{
        padding: 2rem;
        height: 100vh;
        overflow: hidden;
    }
    img{
        width: 40%;
    }

    .Verification-input{
        padding: 0.7rem 0.6rem;
    }

    .Verification-submit{
        padding: 0.8rem;
    }
    
    .form-heading{
        font-size: 1.9rem;
    }

    .Lead-text{
        font-size: 1.4rem;
        margin-bottom: 1.3rem;
    }

    .Verification-failed{
        font-size: 1.3rem;
    }

    .footer-paragraph{
        font-size: 1.3rem;
        position: absolute;
        bottom: 3rem;
        width: 100%;
        right: 0;
    }


}


@media(max-width: 800px){
    .container{
        overflow: hidden;
        padding: 2rem;
        height: 100vh;
    }

    img{
        display: none;
    }

    .form-heading{
        font-size: 1.9rem;
    }

    .Lead-text{
        font-size: 1.3rem;
        margin-bottom: 1.3rem;
    }

    .Verification-failed{
        font-size: 1.1rem;
    }

    .Verification-submit{
        font-size: 1.2rem;
    }

    main{
        margin-top: 5rem;
        justify-content: center;
        padding: 0 1rem;
    }

    .Verification-form{
        margin: 0;
        flex-basis: 90%;
    }

    .Verification-input{
        padding: 0.7rem 0.6rem;
    }

    .Verification-submit{
        padding: 1rem;
    }

    .footer-paragraph{
        font-size: 1.3rem;
        position: absolute;
        bottom: 3rem;
        width: 100%;
        right: 0;
    }

    img.success-image{
        width: 90%;
        display: block;
        left: 50%;
        top: 50%;
    }
    
}

@media(max-width: 500px){
    .container{
        padding: 2rem;
        position: relative;
        height: 100vh;    
    }

    main{
        margin-top: 0;
        padding: 3rem 1rem;
    }

    .Verification-form{
        flex-basis: 100%;
        margin-top: 5rem;
    }

    .footer-paragraph{
        font-size: 1.1rem;
        margin-top: 0;
        position: absolute;
        bottom: 3rem;
        width: 100%;
        left: 0;
    }
}

@media(max-width: 400px){  
    .form-heading{
        margin-top: 4rem;
        margin-bottom: 2rem;

    }

    .Verification-input{
        margin-bottom: 4rem;
    }

    main{
        padding: 0;
    }

    .form-heading{
        font-size: 1.9rem;
        margin-bottom: 4rem;
        /* padding-bottom: 1rem */
    }
    .Lead-text{
        margin-bottom: 2rem;
    }
}


@media(max-height: 575px){
    .container{
        overflow: auto;
    }
    .footer-paragraph{
        margin: 20px auto 0;
        position: relative;
        bottom: 0;
    }
}

